.Footer {
    height: 8vh;
    background-color: rgb(247, 173, 173);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Zen Dots', cursive;
}

.Footer a {
    text-decoration: none;
    color: white;
    margin-left: 5px;
}
