.Footer {
    height: 8vh;
    background-color: rgb(250, 227, 196);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Zen Dots', cursive;
}

.Footer a {
    text-decoration: none;
    color: rgb(245, 170, 8);
    margin-left: 5px;
}

@media only screen and (max-width: 600px) {
    .Footer {
        font-size: 16px;
    }
}