.Header {
    height: 10vh;
    background-color: rgb(250, 227, 196);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: 'Zen Dots', cursive;
    border-top: 6px solid rgb(245, 170, 8); ;
    border-bottom: 6px solid rgb(245, 170, 8); ;
}