.Header {
    height: 10vh;
    background-color: rgb(247, 173, 173);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: 'Zen Dots', cursive;
}