.Main {
    height: 82vh;
    background-color: rgb(185, 181, 181);  
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Zen Dots', cursive;
    color: white;
}

.Main ul img {
    width: 30px;
}
