.Main {
    height: 82vh;
    background-color: rgb(185, 181, 181);  
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Zen Dots', cursive;
    color: white;
}

.Main li {
    list-style: none;
    border: 2px dashed rgb(220, 220, 221);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 20px;
}

.Main ul img {
    width: 50px;
    height: 55px;
    margin-right: 10px;
    background-color: rgb(252, 246, 246);
    border-radius: 50%;
    padding: 5px;
}

.Main ul span {
    width: 100px;
    margin-right: 10px;
    font-style: italic;
}

@media only screen and (max-width: 600px) {
    .Main {
        font-size: 18px;
    }
    
    .Main li {
        padding: 8px;
        margin: 4px;
        border-radius: 15px;
    }
    
    .Main ul img {
        width: 45px;
        height: 50px;
        margin-right: 8px;
        padding: 4px;
    }
    
    .Main ul span {
        width: 90px;
        margin-right: 8px;
    }
}